.header {
    margin-left:105px;
    height:60px; 
    width:200px; 
    background-color:#4aaaa5;
}

.header h2 {
    text-align:center; 
    line-height:60px;
    color:#ffffff;
    display: inline;
    padding-left: 12px;
}

.aboutMeBox {
    width:650px; 
    float:left;
    border:1px solid #cccccc;
    background:#ffffff;
    margin: 30px 0px 60px 105px;
    padding:0px 20px 0px 20px;
}

h2, h3, h4 {
    color:#4aaaa5;
}

hr {
    height: 2px;
    background-color:#dddddd;
    margin-bottom: 22px;
    border: #dddddd;
}

#hrConnect {
    height: 2px;
    background-color:#dddddd;
    margin: 0px 30px 22px 30px;
}

#profilePic {
    float:left; 
    margin-right:15px;
}

#aboutMeText {
    line-height:35px; 
    color:#9e9287;
}

#connectMeBox {
    width:270px; 
    float:left; 
    margin:30px 60px 30px 40px;
    border:1px solid #cccccc;
    background: #ffffff;
    text-align:center;
}

.container {
    background-image: url('../images/dust_scratches.png');
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#socialLinks {
    margin-bottom: 30px;
}

.bottomBreak {
    position: fixed;
    bottom: 40px;
    height: 8px;
    left: 0;
    width: 100%;
    background-color: #4ba9a4;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    height: 40px;
}

ul {
    position: inline;
}   

.navmenu {
    background-color: #ffffff;
    height: 30px;
    display: inline-block;
    position: absolute;
    left: 850px;
    top: 30px;
}
  
.navmenu ul {
    margin-top: 0;
    padding-left: 2px;
    display: inline-block;
}

.navmenu li {
    font-family: arial;
    color: grey;
    display: inline-block;
    padding: 0px 15px;
}

.navmenu li a {
    color: #888888;
    text-decoration: none;
    font-weight: bold;
}

.navmenu a:link {
    color: #888888;
}

.navmenu a:hover {
    color: red;
}

.navmemnu a:visited {
    color: blue;
}

.navmenu a:focus {
    color: green;
}

.navmenu a:active {
    color: yellow;
}

